<footer class="footer">
  <div class="container">
    <nav class="social">
      {% if site.github_username %}
        <a class="social__link ion-social-github" style="font-size:32px" href="https://github.com/dsa027">
        </a>
      {% endif %}
      {% if site.twitter_username %}
        <a class="social__link ion-social-twitter" style="font-size:32px" href="https://twitter.com/dsa027">
        </a>
      {% endif %}
      {% if site.linkedin_username %}
        <a class="social__link ion-social-linkedin" style="font-size:32px" href="https://www.linkedin.com/in/david-stuart-alderson/">
        </a>
      {% endif %}
      {% if site.facebook_username %}
        <a class="social__link ion-social-facebook" style="font-size:32px">
        </a>
      {% endif %}
    </nav>
    <span>&copy; {{ site.time | date: '%Y' }} {{ site.title | escape }}. All rights reserved.</span>
  </div>
</footer>
<script async src="{{ "/assets/js/bundle.js" | relative_url }}"></script>
<script async>{% include sw.js %}</script>
